* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --black: #000000;
    --white: #ffffff;
    --text-color: #383838;
    --primary-color: #0068d8;
    --transparency-primary-color: #0068d870;
    --dark-primary-color: #0059b8;
    --light-primary-color: #609ddf;
    --page-padding: 80px;
    --page-separation: 120px;
}

h1, h2, h3, h4, h5 {
    color: var(--black);
}

h1 {
    font-size: 64px;
    text-transform: uppercase;
    word-spacing: 5pt;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
}

h3 {
    font-size: 32px;
    text-transform: uppercase;
}

p, blockquote {
    color: var(--text-color);
    font-size: 18px;
    line-height: 180%;
}

blockquote {
    position: relative;
    padding: 40px 0 40px 40px;
    border-left: 8px solid rgb(224, 224, 224);
    line-height: 220%;
    font-style: italic;
}

blockquote:before {
    font-family: 'Sanchez', serif;
    content: "\201C";
    position: absolute;
    top: 0;
    right: calc(100% + 20px);
    color: rgb(224, 224, 224);
    font-size: 12em;
    z-index: -1;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    font-size: 16px
}

a:hover {
    color: var(--primary-color);
}

.info > *:not(:last-child) {
    margin-bottom: 24px;
}

.subtitle {
    font-size: 24px;
    color: var(--black);
}

.background-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header, .footer {
    background-color: var(--black);
    color: var(--white);
}

.header {
    padding: 24px var(--page-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.footer {
    padding: 56px var(--page-padding) 24px;
    margin-top: var(--page-separation);
}

.footer__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer hr {
    margin: 32px 0 8px;
    border-color: rgb(110, 110, 110);
}

.footer p {
    color: var(--white);
}

.navbar {
    display: flex;
}

.navbar > *:not(:last-child) {
    margin-right: 16px;
}

.navbar a {
    padding: 8px;
}

.navbar a:hover {
    color: var(--light-primary-color);
}

.navbar a.active {
    border-bottom: 2px solid var(--light-primary-color);
}